#login_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90vw;
    background : whitesmoke;
    border-radius: 1.4rem;
    border-color:transparent;    
    -webkit-box-shadow: -1px 6px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 19px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 19px -6px rgba(0,0,0,0.75);

}

header {
    text-align: center;
}

header img{
    width: 30rem;
    margin-top: 3rem;
}

header p{
    font:700 3.2rem sans-serif;
    color: var(--color-title);
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
    width: 90%;
}

.form-group label{
    font:300 2rem sans-serif;
    align-self: flex-start;
    color:#7a4dee;
    margin-left: 2.4rem ;
}

.form-control{
    border: 1px solid #7a4dee;
    width: 90%;
    line-height: 3rem;
    border-radius: 0.5rem;
    transform: 0.2s;
}

::placeholder {
    padding: 0.5rem 1rem;
    font: 300 solid sans-serif;
    padding: 1rem;
    font: 300 solid;
    font-family: sans-serif;
}

.form-control:focus{
    border: 2px solid #7a4dee;
}

footer {
    margin:3.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.btn{
    padding:1rem 2rem;
    border-radius: .4rem;
    border:0;
    font:300 16px sans-serif;
}

.btn-login{
    background-color: #7a4dee;
    color:whitesmoke;
    transition: 0.5s;
}

.btn-login:hover{
    opacity: 70%;
}

.btn-forgot{
    background-color:blueviolet;
    margin-left:5px;
    margin-top: 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
}

.btn-forgot:hover{
    opacity: 70%;
}

@media (min-width:900px){
    #page-landing-content{
        max-width: 900px;

        display:grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr,1fr;
        grid-template-areas: 
            "logo form form"
            "buttons buttons total"
        ;
        
    }

    .logo-container{
        grid-area: logo;
        text-align: left;
        align-self: center;
        margin: 0;
    }

    .logo-container h2{
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo-container img{
        height: 100%;
    }

    .hero-image{
        grid-area: hero;
        justify-self: end;
    }

    .buttons-container{
        grid-area: buttons;
        justify-self: flex-start;
    }
    .buttons-container a{
        font-size: 2.4rem;
    }
    .total-connections{
        grid-area: total;
        justify-self: end;
    }
}