:root{
    --color-background: #F0F0F7;
    --color-title: #38264a;
    height: 100vh;
    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

html,body,#root{
    height: 100vh;
}

body{
    background: var(--color-background);
}

#root{
    display:flex;
    align-items: center;
    justify-content: center;
}

body,input,button,textarea{
    font : 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container{
    width : 100vw;
    max-width: 700px;
}

@media(min-width:700px){
    :root{
        font-size: 62.5%;
    }
    .container{
        width : 100vw;
    }
}