.sidebar{
    min-height: 100vw;
    min-width:30vh;
    background-color: black;
}

#calendar{ 
    height: 400px !important;
}

.container-admin {
    max-width: 100%;
    background-color: transparent;
    min-height: 50vh!important;
    align-self: center;
    justify-self: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: "sidebar panel";
    grid-template-columns: 22% 100vw;
  }
  